.boldtxt {
  
}

.nav__container, .logoutbtn, .skeleton__logout {
  width: 100%;
  max-width: 1200px;
  padding: 0 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.nav__links {
  margin-left: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav__list {
  margin-left: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.regbtn {
  background-color: #7342d6;
  color: white;
  padding: 12px 24px;
  font-size: 20px;
  border: none;
}

.loginbtn {
  padding: 12px 24px;
  font-size: 20px;
  border: none;
}

.logoutbtn {
  width: 40px;
  height: 40px;
  background-color: #7645d9;
  border-radius: 50%;
  border: none;
  justify-content: center;
  color: #fff;
  text-transform: uppercase;
}

.skeleton__loading {
  height: 46px;
  width: 120px;
  background-color:  rgb(204, 204, 204);
}

.skeleton__logout {
 width: 3px;
 height: 40px;
 background-color: rgb(204, 204, 204); 
 border-radius: 50%;
 border: none;
}